Source: subgraph-environment-config
Section: config
Priority: extra
Maintainer: David McKinney <mckinney@subgraph.com>
Build-Depends: debhelper (>= 9), config-package-dev
Standards-Version: 3.9.6
Homepage: https://subgraph.com/sgos/index.en.html
#Vcs-Git: git://anonscm.debian.org/collab-maint/subgraph-environment-config.git
#Vcs-Browser: https://anonscm.debian.org/gitweb/?p=collab-maint/subgraph-environment-config.git;a=summary

Package: subgraph-environment-config
Architecture: any
Depends: ${misc:Depends}                                                        
Provides: ${diverted-files}                                                     
Conflicts: ${diverted-files} 
Description: Environment configuration package for Subgraph OS
 This configuration package includes environment variables for the Tor Browser
 to skip launching non-system Tor and set up the correct SOCKS and control port
 variables.
